{% extends 'store/base.html' %}
{% load static %}

{% block title %}
MedicalStore :: Home
{% endblock title %}

{% block content %}
<section class="home__section">
    {% include "store/_header.html" %}

    <main class="section__main">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="section__image">
                            <img src="{% static 'images/medicine.png' %}" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="section__desc">
                            <p class="h2">
                                Welcome to <br>
                                <span class="p2__child">
                                    KSITM Medical Store.
                                </span>
                            </p>
                            
                            <p class="h4">
                                Lauf ernsten wie trüben unbekannten lied mein diesmal. 
                                Schwankende mir diesmal menge herauf walten. 
                                Diesmal manche freundliche die wieder der.
                            </p>

                            <a href="{% url 'store:login' %}" class="btn bg__black">
                                Sign In <i class="fa ml-4 fa-user" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
{% endblock content %}