{% extends 'store/base.html' %}
{% load static %}

{% block title %}
MedicalStore :: View Dealers
{% endblock title %}

{% block content %}
    <section id="dashboard_section" class="dashboard_section">

        <!-- Dashboard Sidebar -->
        {% include "store/_dashboard-bar.html" %}

        <div class="container-fluid">
            <div class="add_dealer">
                <div class="dealers__card card">
                    <p class="h2">
                        View Dealers
                    </p>

                    <div class="dealers__table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Address</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for dealer in dealers %}
                                <tr>
                                    <th scope="row">{{ dealer.id }}</th>
                                    <td>{{ dealer.fname }}</td>
                                    <td>{{ dealer.lname }}</td>
                                    <td>{{ dealer.phone_number }}</td>
                                    <td>{{ dealer.email }}</td>
                                    <td>{{ dealer.address }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}